// INIT FONTS
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// IMPORTS
@import "fonts";
@import "normalize";

// VARS
// ANIMATIONS
// TEMPLATES
// MIXINS

//! MAIN STYLE
*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "", sans-serif;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '', sans-serif;
}

.container {
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}